body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    margin: 6% auto 5%;
    color: #1b120f;
    font-family: 'Tittilium-Web', monospace;
    width: 60%;
    line-height: 1.5;
    font-size: 2.3rem;
}

h3 {
    color: #1c2938;
    font-size: 1.4rem;
    font-family: 'Tittilium-Web', monospace;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.signup {
    background-color: rgb(150, 150, 150, 0.8);
    width: 100%;
    height: 657px;
    margin: 0;
    padding: 0;
}

.logo {
    color: white;
    font-size: 3.2rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding-right: 45%;
}

ul {
    padding: 0 50px;
    margin: 0;
}

li{

	text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 25px 0;
    font-family: 'DM Mono', monospace;
    margin: 0 20px 0;
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
}

li:hover {
	cursor: pointer;
}

.news {
    font-size: 1.3rem;
    padding-top: 20px;
    color: rgb(240, 240, 240);
}

.content {
    text-align: center;
}

button {
    background-color: #222831;
    border: none;
    padding: 10.5px 15px;
    font-size: 1.8rem;
    color: white;
}

input {
    width: 40%;
    padding: 10px 15px;
    font-size: 1.65rem;
    margin: 2% 0 20px 0;
}

.alert {
    position: absolute;
    z-index: -1000000000000000000000000000000;
    opacity: 0;
}

@media (max-width: 900px) {

	body {
		overflow-x: hidden;
	}
	p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9rem;
}

h1 {
    margin: 6% auto 5%;
    color: #1b120f;
    font-family: 'Tittilium-Web', monospace;
    width: 80%;
    line-height: 1.3;
    font-size: 2rem;
}

h3 {
    color: #1c2938;
    font-size: 1.4rem;
    font-family: 'Tittilium-Web', monospace;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.signup {
    background-color: rgb(150, 150, 150, 0.8);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 13px 45px;
}

.logo {
    color: white;
    font-size: 3.2rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding-right: 45%;
}

ul {
    padding: 0 50px;
    margin: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    font-family: 'DM Mono', monospace;
    margin: 0 10px 0;
    font-size: 1.1rem;
    color: rgb(200, 200, 200);
}

.news {
    font-size: 1.2rem;
    padding-top: 20px;
    color: rgb(240, 240, 240);
}

.content {
    text-align: center;
}

button {
    background-color: #222831;
    border: none;
    padding: 11px 15px;
    font-size: 1.2rem;
    color: white;
}

input {
    width: 40%;
    padding: 10px 15px;
    font-size: 1.2rem;
    margin: 2% 0 20px 0;
}
    .alert {
        position: static;
        opacity: 1;
        padding: 30px;
        font-family: monospace;
        background-color: #FFF;
        line-height: 1.5;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
    }

}